// Variables
$completed-green: #32BEA6;

// Styles
body {
  background: linear-gradient(to right, skyblue,rgb(79, 122, 139)) no-repeat no-repeat;
  background-color: white;
  height: 99vh;
}

.completed {
  opacity: 0.9;
  background-color: rgb(197, 241, 197);
  font-style: italic;
  border: 1px solid $completed-green !important;
  color: rgb(15, 59, 52);
}

.checkmark-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1%;
}

.checkmark {
  z-index: 10;
  font-size: 3rem;
  font-weight: bold;
  color: $completed-green;
  margin-right: 1rem;
}

button {
  background-color: rgb(231, 229, 229);
  border: 0;
  box-shadow: 2px 4px 6px #444;
  margin: 1%;
  padding: 1%;
  font-size: 1rem;
  border-radius: 5px;
  outline: 0;
  width: 10rem;

  &:active {
    box-shadow: 0 2px #333;
    transform: translateY(3px);
  }
}